@use '../help/variable' as *;

@use '../pages/homepage' as *;

@use '../pages/about' as *;

// $maxMobile
// $maxSmall
// $maxMedium


// .menu {
//     .links{
//         @media (max-width: $maxMedium) {
//             display: none !important;
//         }
//         &.open {
//             @media (max-width: $maxMedium) {
//                 background-color: #FFF !important;
//                 padding: 10px !important;
//                 display: block !important;
//                 position: absolute !important;
//                 left: 0 !important;
//                 top: 50px !important;
//                 width: 100% !important;
//                 border-radius: 4px !important;
//                 text-align: left !important;
//             }
//             li {
//                 @media (max-width: $maxMedium) {
//                     display: block !important;
//                     margin: 10px !important;
//                 }
//                 a {
//                     @media (max-width: $maxMedium) {
//                         color: $flatGreen !important;
//                         font-weight: bold !important;
//                     }
//                 }
//             }
//         }
//     }
//     .toggle-menu {
//         @media (max-width: $maxMedium) {
//             display: inline-block !important;
//         }
//     }
// }

// .nav-bar {
//     .navbar-brand{
//         @media (max-width: $maxMedium) {
//             margin-left: 55%;
//         }
//         img {
//             @media (max-width: $maxMedium) {
//                 width: 50%;
//                 margin-left: 75px;
//                 height: 50%;
//             }
//         }
//     }
//     .links {
//         @media (max-width: $maxSmall) {
//             // display: none;
//         }
//         @media (min-width: $maxSmall) and (max-width: $maxMedium) {
//             margin-right: -95px;
//         }
//         &.open {
//             @media (max-width: $maxSmall) {
//                     background-color: $flatWhiteDark;
//                     color: $darkGreen;
//                     padding: 10px;
//                     display: block;
//                     position: absolute;
//                     right: 135px;
//                     top: 145px;
//                     width: 60%;
//                     border-radius: 20px;
//                     text-align: center;
//                     z-index: 100000000;
//                     li {
//                         @media (max-width: $maxSmall) {
//                             display: block;
//                             margin: 10px;
//                             transition-duration: .3s;
//                             border: none;
//                             // &:hover {
//                             //     font-size: 2rem;
//                             //     border: none;
//                             // }
//                         }
//                         a {
//                             @media (max-width: $maxSmall) {
//                                 color: $darkGreen;
//                                 font-weight: bold;
//                             }
//                         }
//                     }
//                 } 
//             }
//         }
//         .toggle-menu {
//             @media (max-width: $maxSmall) {
//                 display: inline-block;
//                 border: 1px solid black;
//                 border-radius: 7px;
//                 width: 50px;
//                 height: 40px;
//                 padding-top: 7px;
//             }
//             span {
//                 @media (max-width: $maxSmall) {
                    
//                 }
//             }
//         }
// }

.nav-bar {

    .navbar-brand {
        @media (max-width: $maxSmall) {
            margin-left: 35%;
            margin-top: -15px;
        }
    }
    .links{
        @media (max-width: $maxSmall) {
            margin-top: 5px;
            margin-left: 60px;
            padding: 0;
            li {
                a {
                    @media (max-width: $maxSmall) {
                        color: black;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
}

.nav-image {
    margin-top: -30px;
}

.ourservices {
    @media (max-width: $maxMedium) {
        margin-top: -55px;
    }
    h2 {
        @media (max-width: $maxMedium) {
            margin-left: 105px;
        }
    }
    .h3EN {
        @media (max-width: $maxMedium) {
            width: 275px !important;
            height: 50px !important;
            padding-top: 15px !important;
            font-size: .75rem !important;
            margin-left: 0 !important;
        }
    }
    .container {
        @media (max-width: $maxMedium) {
            
        }
    }
    .newSerTable {
        @media (max-width: $maxMedium) {
            padding-top: 10px;
            // font-size: 0.75rem;
            margin-left: 20%;
            width: 200px;
            height: 50px;
        }
    }
    .serviceCont {
        @media (max-width: $maxMedium) {
            height: max-content;
        }
        .serviceIcon {
            @media (max-width: $maxMedium) {
                height: 30px;
                margin-left: 45%;
            }
        }
        .fotoHeight1,
        .fotoHeight1EN {
            @media (max-width: $maxMedium) {
                height: 300px !important;
            }
        }
        .fotoHeight2,
        .fotoHeight2EN {
            @media (max-width: $maxMedium) {
                height: 300px !important;
            }
        }
        .fotoOne,
        .fotoOneEN {
            @media (max-width: $maxMedium) {
                height: 300px !important;
            }
        }
    }
    .lastSerHei {
        @media (max-width: $maxMedium) {
            padding-bottom: 0;
        }
    }
    .imageDivNew{
        @media (max-width: $maxMedium) {
            width: 100%;
            margin-left: 0;
        }
    }
}


.gallery {
    h2 {
        @media (max-width: $maxMedium) {
            padding-top: 5px;
            margin-left: 25%;
            width: 200px;
            height: 50px;
        }
    }
    .EN {
        @media (max-width: $maxMedium) {
            width: 275px !important;
            height: 50px !important;
            padding-top: 15px !important;
            font-size: 1rem !important;
            margin-left: 35px !important;
        }
    }
    .images-box {
        .slider-container {
            @media (max-width: $maxMedium) {
                margin: auto;
            }
            .slider-image {
                @media (max-width: $maxMedium) {
                    width: 300px;
                    height: 300px;
                    left: 40px;
                }
            }
        }
        .slider-controls {
            @media (max-width: $maxMedium) {
                overflow: visible;
                width: 355px;
                margin: -20px;
                margin-top: -95px;
            }
        }
        .prev {
            @media (max-width: $maxMedium) {
                margin-left: 40px;
            }
        }
        .next {
            @media (max-width: $maxMedium) {
                margin-right: -40px;
            }
        }
    }
}

.slideshow-container {
    @media (max-width: $maxMedium) {
        margin: auto;
        max-width: 380px;
        padding-left: 10px;
    }
    h2 {
        @media (max-width: $maxMedium) {
            padding-top: 5px;
            margin-left: 25%;
            width: 200px;
            height: 50px;
        }
    }
    .EN {
        @media (max-width: $maxMedium) {
            width: 275px !important;
            height: 50px !important;
            padding-top: 15px !important;
            font-size: 1rem !important;
            margin-left: 30px !important;
        }
    }
    .mySlides {
        margin: auto;
        video {
            @media (max-width: $maxMedium) {
                width: 300px;
                height: 300px;
            }
        }
    }
    .prev {
        @media (max-width: $maxMedium) {
            left: 25px;
        }
    }
    .next {
        @media (max-width: $maxMedium) {
            right: 15px;
        }
    }
}

.copyright {
    @media (max-width: $maxMedium) {
        margin-top: 100px;
    }
}

h3 {
    @media (max-width: $maxMedium) {
        font-size: 1rem;
    }
}

p {
    @media (max-width: $maxMedium) {
        font-size: .9rem !important;
        line-height: 1.5rem !important;
        text-align: end;
    }
}

.footer {
    @media (max-width: $maxMedium) {
        margin-top: 0;
    }
    .contact {
        @media (max-width: $maxMedium) {
            // font-size: .75rem;
        }
    }
}